[Unit]
Description=RTSP Stream Playback on Startup
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=zym
Environment=DISPLAY=:0
ExecStart=/usr/bin/ffplay -fs -fflags nobuffer -framedrop -vf setpts=0 rtsp://192.168.133.208/stream0
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
